# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

ansible/vault_pass.txt
# build dest when using ansible
ansible/files/wordcount

# secrets used for local dev
home/server.crt
home/server.key
